
#arl {
  margin: auto;
  padding-top: 180px;
  padding-bottom: 181px;
}

#epic {
  padding-top: 80px;
  padding-bottom: 81px;
}

.carousel-inner > .item > img {
  position: absolute;
  bottom: 500px;
  width: 100%;
  min-width: 666px;
  max-width: none;
  height: auto;
  min-height: 500px;
}

.featurette-image {
  max-height: 500;
  max-width: 500;
  height: auto;
  width: auto;
}

.featurette {
  opacity: 0;
}

.connect {
  opacity: 0;
}

#github.animated {
  animation-delay:.1s;
  -webkit-animation-delay:.1s;
}
#linkedin.animated {
  animation-delay:.2s;
  -webkit-animation-delay:.2s;
}
#facebook.animated {
  animation-delay:.3s;
  -webkit-animation-delay:.3s;
}
